<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Python Programming - 2101CS405</b></center>
<center><b><h1>Lab - 1</b></center>    
<pre>

### 01) WAP to print “Hello World”

In [2]:
print("Hello World")

Hello World

### 02) WAP to print your address i) using single print ii) using multiple print

# single print

In [3]:
print("501,sardar palace,sanala road,morbi")

501,sardar palace,sanala road,morbi

# multiple print

In [4]:
print("501,")
print("sardar palace,")
print("sanala road,")
print("morbi")

501,
sardar palace,
sanala road,
morbi

### 03) WAP to print addition of 2 numbers (without input function)

In [5]:
a=5
b=4
print("your ans is", a+b)

your ans is 9

### 04) WAP to calculate and print average of 2 numbers (without input function)

In [7]:
a=5
b=7
print("your ans is", (a+b)//2)

your ans is 6

### 05) WAP to add two number entered by user.

In [8]:
a=int(input("enter first num:"))
b=int(input("enter second num:"))
print("your ans is", a+b)

enter first num:5
enter second num:4
your ans is 9

### 06) WAP to calculate simple interest.

In [9]:
p=int(input("enter p:"))
r=int(input("enter r:"))
n=int(input("enter n:"))
print("ans ",(p*r*n)/100)

enter p:5
enter r:6
enter n:7
ans  2.1

### 07) WAP Calculate Area and Circumfrence of Circle

In [10]:
r=float(input("enter radius:"))
print("area is ",3.14*r*r)
print("circumfrence is ",2*3.14*r)

enter radius:5
area is  78.5
circumfrence is  31.400000000000002

### 08) WAP to print Multiplication table of given number without using loops.

In [11]:
n=int(input("enter n:"))
print(n,"x",1,"=",n*1,sep=" ")
print(n,"x",2,"=",n*2,sep=" ")
print(n,"x",3,"=",n*3,sep=" ")
print(n,"x",4,"=",n*4,sep=" ")
print(n,"x",5,"=",n*5,sep=" ")
print(n,"x",6,"=",n*6,sep=" ")
print(n,"x",7,"=",n*7,sep=" ")
print(n,"x",8,"=",n*8,sep=" ")
print(n,"x",9,"=",n*9,sep=" ")
print(n,"x",10,"=",n*10,sep=" ")

enter n:5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

### 09) WAP to calculate Area of Triangle (hint: a = h * b * 0.5)

In [13]:
b=int(input("enter b:"))
h=int(input("enter h:"))
print("are of triangle is ",(b*h)/2)

enter b:5
enter h:6
are of triangle is  15.0

### 10) WAP to convert degree to Fahrenheit and vice versa.

In [15]:
c=float(input("enter celcius:"))
print("feranhit is:",(c *(9/5))+32)
f=float(input("enter feranhit:"))
print("celcius is:" ,(f - 32) * (5/9))

enter celcius:32
feranhit is: 89.6
enter feranhit:32
celcius is: 0.0

### 11) WAP to calculate total marks and Percentage.

In [16]:
m1=int(input("enter marks of first sub:"))
m2=int(input("enter marks of second sub:"))
m3=int(input("enter marks of third sub:"))
m4=int(input("enter marks of fourth sub:"))
m5=int(input("enter marks of fifth sub:"))

per=(m1+m2+m3+m4+m5)/5

print("PER IS :",per)

enter marks of first sub:89
enter marks of second sub:65
enter marks of third sub:78
enter marks of fourth sub:58
enter marks of fifth sub:43
PER IS : 66.6

### 12) Compute distance between two points taking input from the user (Pythagorean Theorem).

In [17]:
x1=float(input("enter x1:"))
y1=float(input("enter y1:"))
x2=float(input("enter x2:"))
y2=float(input("enter y2:"))
a= (x2-x1)**2
b= (y2-y1)**2
d=(a+b)**0.5
print("ans is:",d)

enter x1:2
enter y1:3
enter x2:2
enter y2:4
ans is: 1.0

### 13) WAP to convert seconds into hours, minutes & seconds and print in HH:MM:SS
[e.g. 10000 seconds mean 2:46:40 (2 Hours, 46 Minutes, 40Seconds)]

In [19]:
sec=int(input("enter seconds:"))
h=sec//3600
sec=sec%3600
m=sec//60
s=sec%60
print("hh:mm:ss= ",h,":",m,":",s)

enter seconds:10000
hh:mm:ss=  2 : 46 : 40

### 14) WAP to enter distance into kilometer and convert it into meter, feet,inches, and centimeter

In [25]:
km=float(input("enter distance in km:"))
meter=km*1000
feet=km*3280.84
inch=12*feet
cm=meter*100
print("km is:",km,"\nmeter is:",meter,"\nfeet is:",feet,"\ninch is:",inch,"\ncm is:",cm)

enter distance in km:5
km is: 5.0
meter is: 5000.0
feet is: 16404.2
inch is: 196850.40000000002
cm is: 500000.0